<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Logs\NLog\internal.txt">

  <!--enable NLog.Web for ASP.NET Core-->
  <!--
  <extensions>    
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  -->
  
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
      <target xsi:type="File" name="allFile"
          fileName="Logs/nlog-all-${date:cached=true:universalTime=true:format=yyyy-MM-ddTHHmmssZ}.log"
          archiveFileName="Logs/nlog-all-archive.${shortdate:universalTime=true}.{#}.log"
          archiveAboveSize="52428800"
          archiveEvery="Day"
          archiveNumbering = "Rolling"
          maxArchiveFiles="20"
          layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|THR${threadid:padCharacter=0:padding=3}|${logger}|${uppercase:${level}}|${message} ${exception}" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allFile" />
  </rules>
</nlog>